argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
backports.zoneinfo==0.2.1
cffi==1.16.0
confusable-homoglyphs==3.2.0
crispy-bootstrap5==2023.10
dj-database-url==2.1.0
Django==4.2.7
django-configurations==2.5
django-crispy-forms==2.1
django-debug-toolbar==4.2.0
django-registration==3.4
flake8==6.1.0
isort==5.12.0
mccabe==0.7.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
sqlparse==0.4.4
typing-extensions==4.8.0
